.sy-block-row {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;

    &-gap {
        width           : 10px;
        background-color: transparent;
        align-self      : stretch;

        &:hover {
            background: rgba(55, 53, 47, 0.16);
            cursor    : col-resize;
        }
    }
}