.sy-block-todo {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;

    &-checkbox {
        flex-shrink    : 0;
        width          : 24px;
        height         : 24px;
        display        : inline-flex;
        justify-content: center;
        align-items    : center;
    }

    >*:last-child {
        flex-grow: 1;
    }
}