.editor-page {
    // display        : flex;
    // justify-content: flex-start;
    // align-items    : flex-start;
}

.editor {
    // width      : 600px;
    // height     : 300px;
    // margin     : 100px;
    // flex-shrink: 0;
}

.editor-console {
    position     : absolute;
    top          : 0px;
    right        : 0px;
    width        : 200px;
    bottom       : 0px;
    overflow     : auto;
    outline      : 1px solid #ddd;
    padding      : 10px;
    border-radius: 5px;
}