.sy-block-line-link {
    display      : inline;
    border-bottom: 0.05em solid rgba(55, 53, 47, 0.25);
    font-weight  : 500;
    a {
        color: rgb(55, 53, 47);
    }
    &:hover {
        background   : rgba(148, 148, 148, 0.15);
        box-shadow   : 0 0 0 3px rgba(148, 148, 148, 0.15);
        border-radius: 1px;
    }
}

.sy-block-page-info {
    &-operators {
        height         : 24px;
        line-height    : 24px;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;

        a {
            margin-right    : 10px;
            display         : inline-flex;
            justify-content : flex-start;
            align-items     : center;
            padding-left    : 6px;
            padding-right   : 8px;
            border-radius   : 4px;
            color           : rgba(55, 53, 47, 0.5);
            fill            : currentColor;
            background-color: transparent;
            cursor          : pointer;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }

        visibility: hidden;
    }

    &:hover {
        .sy-block-page-info-operators {
            visibility: visible;
        }
    }
    &-icon {
        width:78px;
        height:78px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:20px;
        margin-bottom: 5px;
        border-radius  : 3px;
        cursor         : pointer;
        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }

    &-head {
        margin-bottom  : 20px;
        display        : flex;
        justify-content: center;
        align-items    : flex-start;
        &-title {
            font-size  : 40px;
            line-height: 40px;
            font-weight: 700;
            flex-grow  : 1;
        }
    }
}
