.sy-block-note {
    >svg {
        position: absolute;
    }

    &-content {
        position       : absolute;
        top            : 0px;
        left           : 0px;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }
}