.sy-field-text {
    cursor: pointer;
}

.sy-field-option {
    span {
        display      : inline-block;
        height       : 18px;
        border-radius: 3px;
        padding-left : 6px;
        padding-right: 6px;
        font-size    : 14px;
        color        : rgb(50, 48, 44);
        line-height  : 120%;
        margin       : 0px 6px 6px 0px;
    }
}

.sy-field-image {
    width     : 100%;
    min-height: 30px;

    &-item {
        img {
            max-width: 100%;
        }
    }

    .shy-button {
        display      : none;
        // position  : absolute;
        // right     : 0px;
        // top       : 50%;
        // transform : translate(0px, -50%);
        visibility   : hidden;
    }

    &:hover {
        .shy-button {
            visibility: visible;
        }
    }
}

.sy-field-file {
    width     : 100%;
    min-height: 30px;

    >.shy-button {
        position  : absolute;
        right     : 0px;
        top       : 50%;
        transform : translate(0px, -50%);
        visibility: hidden;
    }

    &:hover {
        >.shy-button {
            visibility: visible;
        }
    }

    &-item {
        a {
            display       : flex;
            align-items   : center;
            white-space   : nowrap;
            max-width     : 120px;
            height        : 18px;
            border-radius : 3px;
            background    : rgba(206, 205, 202, 0.5);
            padding-left  : 6px;
            padding-right : 6px;
            overflow      : hidden;
            margin-right  : 6px;
            margin-top    : 3px;
            margin-bottom : 3px;
            padding-bottom: 1px;
            white-space   : nowrap;
            overflow      : hidden;
            text-overflow : ellipsis;
        }
    }
}

.sy-field-relation {
    &-items {
        a {
            cursor             : pointer;
            display            : inline-flex;
            background         : linear-gradient(to right, rgba(55, 53, 47, 0.16) 0%, rgba(55, 53, 47, 0.16) 100%);
            background-repeat  : repeat-x;
            background-position: 0px 100%;
            background-size    : 100% 1px;
            line-height        : 1.2;
            height             : 18px;
            align-items        : center;
            border-radius      : 3px;
            font-size          : 14px;
            font-weight        : 500;
            min-width          : auto;
            margin             : 0px 12px 6px 0px;
            color              : rgb(55, 53, 47);
        }
    }
}

.sy-field-title {
    position: relative;

    .sy-field-title-button {
        position  : absolute;
        right     : 0px;
        top       : 50%;
        transform : translate(0px, -50%);
        visibility: hidden;
    }
}

.sy-field-number {
    input {
        width      : 100%;
        border     : 0px;
        outline    : none;
        text-indent: 10px;
        font-size  : 14px;
        line-height: 20px;
        max-height : 20px;
    }
}