.sy-field-text {
    cursor: pointer;
}

.sy-field-option {
    span {
        display      : inline-block;
        height       : 18px;
        border-radius: 3px;
        padding-left : 6px;
        padding-right: 6px;
        font-size    : 14px;
        color        : rgb(50, 48, 44);
        line-height  : 120%;
        margin       : 0px 6px 6px 0px;
    }
}

.sy-field-image {
    &-wrapper {
        img {
            max-width: 100%;
        }
    }

    &-add {
        visibility: hidden;
    }

    &:hover {
        .sy-field-image-add {
            visibility: visible;
        }
    }
}