.shy-date-picker {
    position     : absolute;
    width        : 7*(24px+8px)+28px;
    border-radius: 3px;
    background   : white;
    z-index      : 2;
    box-shadow   : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

    &-head {
        display        : flex;
        align-items    : center;
        justify-content: flex-start;
        height         : 30px;
        margin-left    : 14px;
        margin-right   : 14px;

        &-title {
            flex-grow      : 1;
            display        : inline-flex;
            align-items    : center;
            justify-content: flex-start;
            font-size      : 14px;
            font-weight    : 500;

            span {
                display      : inline-flex;
                padding      : 0px 3px;
                border-radius: 3px;

                &.hover {
                    background-color: rgba(45, 156, 219, 0.2);
                }
            }
        }

        &-operators {
            flex-shrink    : 0;
            width          : 80px;
            display        : inline-flex;
            align-items    : center;
            justify-content: flex-end;

            a {
                width          : 24px;
                height         : 24px;
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                cursor         : pointer;
                border-radius  : 3px;

                &:hover {
                    background-color: rgba(45, 156, 219, 0.2);
                }

                svg {
                    width  : 14px;
                    height : 14px;
                    display: block;
                    fill   : rgba(55, 53, 47, 0.4);
                }
            }
        }
    }

    &-days {
        margin-left  : 14px;
        margin-right : 14px;
        margin-bottom: 14px;

        &-week {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;

            a {
                color          : #8B9898;
                font-size      : 12px;
                width          : 32px;
                height         : 32px;
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                user-select    : none;
            }
        }

        &-day {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            flex-wrap      : wrap;

            a {
                color          : rgb(55, 53, 47);
                font-size      : 14px;
                width          : 32px;
                height         : 32px;
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                cursor         : pointer;
                border-radius  : 3px;

                &:hover {
                    background-color: rgba(45, 156, 219, 0.2);
                }

                &.selected,
                &.selected:hover {
                    background: rgb(45, 170, 219);
                    color     : white;
                }

                &.outside {
                    color: #8B9898;
                }
            }
        }
    }
}