.shy-input {

    width        : 100%;
    box-shadow   : rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
    background   : rgba(242, 241, 238, 0.6);
    border-radius: 4px;

    &-wrapper {}

    input {

        width           : 100%;
        font-size       : 14px;
        line-height     : 26px;
        height          : 28px;
        text-indent     : 4px;
        cursor          : text;
        outline         : none;
        border          : 0px;
        box-sizing      : border-box;
        box-shadow      : none;
        background-color: transparent;

        &:focus {
            box-shadow: rgba(46 170 220, 0.7) 0px 0px 0px 1px inset, rgba(46 170 220, 0.4) 0px 0px 0px 2px;
        }

        &::placeholder {
            font-size: 14px;
            color    : rgba(0, 0, 0, 0.2)
        }
    }

    &.small {
        input {
            height     : 24px;
            line-height: 22px;
        }
    }

    &.larger {
        input {
            height     : 36px;
            line-height: 36px;
        }
    }

    &-clear {
        cursor: pointer;
    }

    &-noborder {
        box-shadow      : none;
        background-color: transparent;

        input {
            &:focus {
                box-shadow: none;
            }
        }
    }
}

.shy-textarea {
    display: block;
    width  : 100%;
    height : 80px;


    textarea {
        width        : 100%;
        height       : 100%;
        font-size    : 14px;
        line-height  : 26px;
        padding      : 4px 10px;
        border-radius: 3px;
        box-shadow   : rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset;
        background   : rgba(242, 241, 238, 0.6);
        border-radius: 4px;
        cursor       : text;
        outline      : none;
        border       : 0px;
        box-sizing   : border-box;
        resize       : none;
        overflow-y   : auto;

        &::placeholder {
            font-size: 14px;
            color    : rgba(0, 0, 0, 0.2)
        }

        &:focus {
            box-shadow: rgba(46 170 220, 0.7) 0px 0px 0px 1px inset, rgba(46 170 220, 0.4) 0px 0px 0px 2px !important;
        }
    }
}

.shy-div-input {
    outline: none;

    &:empty::after {
        content  : attr(data-placeholder);
        font-size: 14px;
        color    : rgba(0, 0, 0, 0.1)
    }
}