.shy-avatar {
    img {
        border-radius: 4px;
    }

    &-name {
        display        : inline-flex;
        justify-content: center;
        align-items    : center;
        border-radius  : 4px;
        background     : rgba(55, 53, 47, 0.3);
        color          : rgba(255, 255, 255, 0.9);
        font-size      : 14px;
    }

    &-circle {
        img {
            border-radius: 50%;
        }

        .shy-avatar-name {
            border-radius: 50%;
        }
    }
}