.shy-avatar {
    img {
        border-radius: 50%;
    }

    &-name {
        display        : inline-flex;
        justify-content: center;
        align-items    : center;
        background     : rgba(55, 53, 47, 0.3);
        color          : rgba(255, 255, 255, 0.9);
        font-size      : 14px;
        border-radius  : 50%;
    }
}

.shy-avatar-say {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;
    flex-wrap: nowrap;
    &-face {
        flex-shrink: 0;
        flex-grow  : 0;

        img {
            border-radius: 50%;
        }

        .shy-avatar-name {
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            background     : rgba(55, 53, 47, 0.3);
            color          : rgba(255, 255, 255, 0.9);
            font-size      : 14px;
            border-radius  : 50%;
        }
    }

    &-content {
        flex-shrink: 1;
        flex-grow  : 1;

        &-head {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;

            >div {
                &.left{
                    flex-shrink: 0;
                    flex-grow  : 0;
                    margin-left: 5px;
                    a{
                        color: var(--channels-default)
                    }
                    span {
                        color: var(--channels-default)
                    }
                }

                &.right {
                    flex-shrink    : 1;
                    flex-grow      : 1;
                    display        : flex;
                    justify-content: flex-end;
                    align-items    : center;
                }
            }
        }

        &-body {
            margin-left: 5px;
        }
    }
}

.shy-user-card {}