.sy-tablestore {
    &-head {
        display        : flex;
        justify-content: flex-start;
        align-items    : stretch;
        flex-wrap      : nowrap;

        &-th {
            border         : 1px solid #ddd;
            display        : inline-flex;
            justify-content: flex-start;
            align-items    : center;
            padding        : 10px;

            >svg {
                width              : 14px;
                height             : 14px;
                display            : block;
                fill               : rgba(55, 53, 47, 0.4);
                flex-shrink        : 0;
                backface-visibility: hidden;
                margin-right: 10px;
            }
             
        }

        &-th+&-th {
            border-left: 1px solid transparent;
        }
    }

    &-body {
        &-row {
            display        : flex;
            justify-content: flex-start;
            align-items    : stretch;
            flex-wrap      : nowrap;

            &-cell {
                border : 1px solid #ddd;
                padding: 10px;
            }

            &:first-child {
                .sy-tablestore-body-row-cell {
                    border-top: 1px solid transparent;
                }
            }

            &+.sy-tablestore-body-row {
                .sy-tablestore-body-row-cell {
                    border-top: 1px solid transparent;
                }
            }

            &-cell+&-cell {
                border-left: 1px solid transparent;
            }
        }
    }

    &-footer {}
}