.sy-data-grid-board {
    display : block;
    margin  : 10px 0px;
    position: relative;

    &-list {
        overflow       : auto;
        display        : flex;
        justify-content: flex-start;
        align-items    : flex-start;
        flex-wrap      : nowrap;
        padding-left   : 5px;
    }

    &-group {
        font-size   : 14px;
        width       : 220px;
        flex-shrink : 0;
        margin-right: 20px;

        &-head {
            height            : 30px;
            font-size         : 14px;
            // margin-right   : 10px;
            // padding-right  : 10px;
            display           : flex;
            justify-content   : flex-start;
            align-items       : center;

            span {
                color           : rgb(55, 53, 47);
                fill            : currentcolor;
                // padding      : 0px 6px;
                border-radius   : 4px;
                line-height     : 18px;
                font-size       : 14px;
            }

            label {
                color      : rgba(55, 53, 47, 0.4);
                display    : inline-block;
                margin-left: 10px;
            }
        }

        &-childs {
            .sy-data-grid-item {
                margin-bottom: 10px;
            }
        }
    }
}