.sy-data-grid-item {
    box-shadow   : rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
    border-radius: 3px;
    margin-bottom: 5px;
    background   : white;
    overflow     : hidden;
    transition   : background 100ms ease-out 0s;
    position     : static;
    padding      : 10px;
    margin       : 0px;
    margin-right:10px;
    margin-bottom: 10px;
}