.sy-button {
   
    padding      : 0px 12px;
    height       : 32px;
    border-radius: 6px;
    background   : rgb(225, 98, 89);
    border       : 1px solid rgb(190, 86, 67);
    box-shadow   : rgba(15, 15, 15, 0.1) 0px 1px 2px 0px;
    color        : #fff;
    cursor       : pointer;
    outline      : none;
    box-sizing   : border-box;
    &:hover {
        background-color: rgba(225, 98, 89, .7);
    }

    &-small {
        height       : 24px;
        padding      : 0px 7px;
        font-size    : 14px;
        border-radius: 4px;
    }
    &-larger {
        height       : 40px;
        padding      : 0px 16px;
        border-radius: 6px;
    }
    &-ghost {
        background-color: transparent;
        color           : rgb(55, 53, 47, .65);
        border          : 1px solid #ddd;
        font-weight     : normal;

        &:hover {
            background-color: #f5f5f5;
        }
    }

    &-dark {
        background-color: #000;
        color           : #fff;
        border          : 1px solid #000;

        &:hover {
            background-color: rgba(0, 0, 0, .7);
            border          : 1px solid rgba(0, 0, 0, .7);
        }
    }

    &-blue {
        background-color: var(--text-b-color);
        color           : #fff;
        border          : 1px solid var(--text-b-color);

        &:hover {
            background-color: rgba(100, 161, 223, .7);
            border          : 1px solid rgba(100, 161, 223, .7);
        }
    }

    &-green {
        background-color: var(--text-g-color);
        color           : #fff;
        border          : 1px solid var(--text-g-color);

        &:hover {
            background-color: rgba(33, 175, 90, .7);
            border          : 1px solid rgba(33, 175, 90, .7);
        }
    }

    &-link {
        background-color: transparent;
        color           : var(--text-b-color);
        border          : 0px;
        font-weight     : normal;
        cursor          : pointer;
        box-shadow      : none;
        border-bottom   : 1px solid transparent;
        border-radius   : 0px;
        padding:0px 3px;
        &:hover {
            border-bottom   : 1px solid var(--text-b-color);
            background-color: transparent;
            border-radius   : 0px;
        }
    }
}