.sy-block-page-info {
    &-operators {
        height         : 24px;
        line-height    : 24px;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;

        a {
            margin-right    : 10px;
            display         : inline-flex;
            justify-content : flex-start;
            align-items     : center;
            padding-left    : 6px;
            padding-right   : 8px;
            border-radius   : 4px;
            color           : rgba(55, 53, 47, 0.5);
            fill            : currentColor;
            background-color: transparent;
            cursor          : pointer;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }

        visibility: hidden;
    }

    &:hover {
        .sy-block-page-info-operators {
            visibility: visible;
        }
    }

    &-head {
        margin-bottom  : 20px;
        display        : flex;
        justify-content: center;
        align-items    : flex-start;

        &-icon {
            display        : inline-flex;
            width          : 36px;
            height         : 36px;
            justify-content: center;
            align-items    : center;
            flex-shrink    : 0;
            margin-right   : 10px;
            border-radius  : 3px;
            cursor         : pointer;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }

        &-title {
            font-size  : 40px;
            line-height: 40px;
            font-weight: 700;
            flex-grow  : 1;
        }
    }
}

.sy-block-link {
    cursor    : pointer;
    min-height: 30px;

    &:hover {
        background-color: rgba(55, 53, 47, 0.08);
        transition      : background 20ms ease-in 0s;
    }

    white-space    : nowrap;
    overflow       : hidden;
    text-overflow  : ellipsis;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;

    a {

        display: inline-flex;

        align-items    : center;
        justify-content: flex-start;
        text-decoration: none;

        >i {
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            width          : 24px;
            height         : 24px;
            margin-right   : 4px;
        }

        >span {
            // text-decoration: underline;
            color        : rgb(55, 53, 47);
            font-weight  : 500;
            border-bottom: 1px solid rgba(55, 53, 47, 0.16);
        }
    }
}