.shy-icon-picker {
    width    : 418px;
    min-width: 180px;
    max-width: calc(100vw - 24px);
    height   : 380px;

    .shy-tab {
        &-items {
            >label {
                width     : 30px;
                height    : 30px;
                box-sizing: border-box;
                padding   : 0px;

                svg {
                    width : 30px;
                    height: 30px;
                }
            }
        }
    }
}