.sy-flow-mind {
    top : 0px;
    left: 0px;

    &-text {
        border       : 1px solid #000;
        border-radius: 16px;
        min-height   : 30px;
        min-width    : 60px;
    }

    &-items {
        >.sy-flow-mind-item {}
    }
}

.sy-flow-mind-line {
    position      : absolute;
    pointer-events: none;

    path {
        fill        : none;
        stroke      : #000;
        stroke-width: 1px;
    }
}