.sy-flow-mind {
    top : 0px;
    left: 0px;

    &-text {
        min-height     : 30px;
        // min-width      : 60px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        // font-size      : 14px;
        // line-height    : 20px;
    }

    &-items {
        >.sy-flow-mind-item {}
    }
}

.sy-flow-mind-line {
    position      : absolute;
    pointer-events: none;
    stroke        : #000;

    path {
        fill        : none;
        stroke      : inherit;
        stroke-width: 3px;
    }
}

.sy-flow-mind-spread {
    .circle {
        background-color: #fff;
        color           : var(--text-b-color);
        border          : 1px solid var(--text-b-color);

        &:hover {
            background-color: var(--text-b-color);
            color           : #fff;
        }
    }
}