.sy-block-katex {
    border-radius      : 4px;
    // background-color: rgb(251, 251, 250);
    padding            : 0px 10px;
    text-align         : center;

    &-content {
        display      : block;
        text-align   : inherit;
        margin-top   : 1em;
        margin-bottom: 1em;

        .katex {
            display    : block;
            text-align : inherit;
            white-space: nowrap;
        }
    }

    &:hover {
        background-color: rgba(55, 53, 47, 0.06);
    }

    &-opened {
        background-color: rgba(55, 53, 47, 0.08);
    }
}

.sy-block-katex-line {
    border-radius: 4px;
    display      : inline;

    &:hover {
        background-color: rgba(55, 53, 47, 0.06);
    }

    >.shy-appear-solid {
        display: inline;
    }
}