.sy-block-card-box {
    min-height         : 30px;
    line-height        : 1.6 !important;
    font-size          : 1em;
    transition-property: border-radius, background, backdrop-filter, filter, box-shadow, inset;
    transition-duration: 200ms;

    backdrop-filter: blur(20px) saturate(170%);
    box-shadow     : 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    &-light {
        background-color: rgba(255, 252, 248, 0.75);
        border          : 1px solid #e5e0df;

        &.sy-block-card-box-solid {
            color           : rgba(43, 47, 48);
            background-color: rgba(255, 252, 248, 1)
        }

        &.sy-block-card-box-frosted {
            color           : rgba(43, 47, 48);
            background-color: rgba(255, 252, 248, 0.75)
        }

        &.sy-block-card-box-faded {
            color           : rgba(43, 47, 48);
            background-color: rgba(255, 252, 248, 0.75);
            backdrop-filter : none;
        }

        &.sy-block-card-box-noborder {
            background-color: transparent;
            box-shadow      : none;
            backdrop-filter : none;
            border          : 1px solid transparent;
        }
    }

    &-dark {
        border: 1px solid #565151;

        &.sy-block-card-box-solid {
            color           : rgba(255, 255, 255, 1);
            background-color: rgba(12, 12, 12, 1);
        }

        &.sy-block-card-box-frosted {
            color           : rgba(255, 255, 255, 1);
            background-color: rgba(12, 12, 12, 0.75);
        }

        &.sy-block-card-box-faded {
            color           : rgba(255, 255, 255, 1);
            background-color: rgba(12, 12, 12, 0.75);
            backdrop-filter : none;
        }

        &.sy-block-card-box-noborder {
            background-color: transparent;
            box-shadow      : none;
            backdrop-filter : none;
            border          : 1px solid transparent;
        }
        .shy-appear-text:empty {
            color: rgba(255, 255, 255, 1);
        }
        .shy-appear-text.shy-text-focus:empty::after,
        .shy-appear-text.shy-text-empy-visible:empty::after {
            text-decoration-color  : rgba(255, 255, 255, 1) !important;
            caret-color            : rgba(255, 255, 255, .7) !important;
            -webkit-text-fill-color: rgba(255, 255, 255, .7) !important;
        }
    }
}

.sy-block-view-card {
    .sy-block-view-card-ops {
        visibility: hidden;
    }

    &:hover {
        .sy-block-view-card-ops {
            visibility: visible;
        }
        .sy-block-card-box-noborder{
            border:1px solid #ddd;
        }
    }
}

.sy-card-box-title {
    &-content {
        font-size  : 3em;
        color      : transparent;
        caret-color: black;
        line-height: 1.2;

        .shy-appear-text {
            background-clip        : text;
            -webkit-background-clip: text;
            background-image       : linear-gradient(91.23deg, rgb(255, 118, 173) 2.75%, rgb(175, 65, 240) 80.76%);
            color                  : transparent !important;
        }
    }
}