.sy-selector-textinput {
    pointer-events: none;

    textarea {
        opacity         : 0;
        border          : 0px;
        outline         : none;
        background-color: rgba(255, 0, 0, 1.4);
        color           : transparent;
        position        : fixed;
        top             : 0px;
        left            : 0px;
        height          : 10px;
        width           : 30px;
        margin          : 0px;
        padding         : 0px;
        resize          : none;
        cursor          : text;
        text-indent     : 10px;
        z-index         : 100000;
    }
}

.sy-anchor-text {
    width         : 0;
    position      : relative;
    display       : inline;
    letter-spacing: 0;
    &::before {
        content         : '';
        position        : absolute;
        top             : 0px;
        left            : 0px;
        width           : 2px;
        margin-left     : -1px;
        height          : 100%;
        background-color: inherit;
        letter-spacing  : 0;
    }
}

.sy-anchor-text-end-placeholder {
    content: '\20';
}

.sy-anchor-solid {
    position      : absolute;
    top           : 0px;
    left          : 0px;
    right         : 0px;
    bottom        : 0px;
    pointer-events: none;
    z-index       : 1;
    outline       : 1px solid #000;

    svg {
        width : 100%;
        height: 100%;
    }
}

.sy-selector-bar {
    position       : fixed;
    z-index        : 10000;
    width          : 30px;
    height         : 30px;
    display        : none;
    justify-content: center;
    align-items    : center;
    transform      : translate(-30px, 0px);

    /**
    https          ://developer.mozilla.org/zh-CN/docs/Web/CSS/cursor
    ****/
    span {
        border-radius  : 3px;
        cursor         : grab;
        display        : inline-flex;
        justify-content: center;
        align-items    : center;
        width          : 18px;
        height         : 24px;

        .sy-icon {
            fill: rgba(55, 53, 47, 0.3);
        }

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }
}

.sy-block-selected {
    position: relative;

    &::before {
        content       : '\20';
        position      : absolute;
        pointer-events: none;
        inset         : 0px;
        background    : rgba(46, 170, 220, 0.2);
        z-index       : 81;
        opacity       : 1;
    }
}

.sy-selector-drag-copy {
    display       : none;
    position      : fixed;
    pointer-events: none;
    opacity       : 0.6;
}

.sy-block-drag-over-bottom,
.sy-block-drag-over-left,
.sy-block-drag-over-right,
.sy-block-drag-over-top {
    position: relative;

    &::after {
        content       : '\20';
        position      : absolute;
        top           : 0px;
        left          : 0px;
        right         : 0px;
        bottom        : 0px;
        pointer-events: none;
        border        : 4px solid transparent;
    }
}

.sy-block-drag-over-bottom {
    &::after {
        border-bottom-color: rgba(46, 170, 220, 0.6);
    }
}

.sy-block-drag-over-left {
    &::after {
        border-left-color: rgba(36, 118, 151, 0.6);
    }
}

.sy-block-drag-over-right {
    &::after {
        border-right-color: rgba(46, 170, 220, 0.6);
    }
}

.sy-block-drag-over-top {
    &::after {
        border-top-color: rgba(46, 170, 220, 0.6);
    }
}

.sy-kit-selector {
    pointer-events: none;
    user-select   : none;

    &-region {
        position        : fixed;
        background-color: rgba(46, 170, 220, 0.2);
    }
}