.shy-menu-panel {
    .shy-menu-mask {
        position      : absolute;
        position      : fixed;
        top           : 0px;
        left          : 0px;
        width         : 100vw;
        height        : 100vh;
        pointer-events: visible;
    }
}

.shy-menu-box {
    width                : 220px;
    pointer-events       : visible;
    position             : absolute;
    position             : fixed;
    border-radius        : 3px;
    background           : white;
    z-index              : 2;
    box-shadow           : var(--shadow);
    padding              : 6px 0px;
    max-height           : 70vh;
    overscroll-behavior  : contain;
}

.shy-menu-box-item {
    position: relative;

    &-option {
        position       : relative;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        user-select    : none;
        min-height     : 28px;
        line-height    : 28px;
        font-size      : 14px;
        color          : rgba(55, 53, 47);
        padding        : 0px 5px;
        margin         : 0px 5px;
        border-radius  : 4px;

        cursor: pointer;

        .shy-icon {

            img {
                width: 17px
            }
        }

        .shy-menu-box-item-option-spread {
            flex-shrink: 0;
        }

        .shy-menu-box-item-option-text {
            display     : inline-flex;
            margin-right: 14px;
            flex-grow   : 1.0;
            margin-left : 3px;
        }

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }

        label {
            position    : absolute;
            top         : 0px;
            right       : 0px;
            bottom      : 0px;
            color       : rgba(55, 53, 47, 0.4);
            font-size   : 12px;
            white-space : nowrap;
            margin-right: 14px;
            min-height  : 28px;
            line-height : 28px;
        }

        .shy-menu-box-item-option-label-icon {}

        &.disabled {
            cursor: default;

            .shy-icon {
                color   : rgba(55, 53, 47, 0.6);
                // fill : rgba(55, 53, 47, 0.6);
            }

            .shy-menu-box-item-option-text {
                color: rgba(55, 53, 47, 0.6);
            }

            label {
                color: rgba(55, 53, 47, 0.6);
            }

            &:hover {
                background-color: transparent;
            }
        }
    }

    &-colors {
        padding      : 0px 5px;
        margin       : 0px 5px;
        border-radius: 4px;
    }

    &-button {
        padding      : 0px 5px;
        margin       : 0px 5px;
        border-radius: 4px;
    }

    &-input {
        padding      : 0px 5px;
        margin       : 0px 5px;
        border-radius: 4px;
    }

    &-input-icon {
        padding      : 0px 5px;
        margin       : 0px 5px;
        border-radius: 4px;
    }

    &-divide {
        height       : 1px;
        display      : block;
        margin-top   : 7px;
        margin-bottom: 5px;
        box-shadow   : rgba(55, 53, 47, 0.09) 0px -1px 0px;
    }

    &-text {
        display      : block;
        padding      : 0px 5px;
        margin       : 0px 5px;
        border-radius: 4px;
        font-size    : 12px;
        line-height  : 16px;
        color        : rgba(55, 53, 47, 0.4);
    }

    &-user {
        display      : block;
        padding      : 5px;
        margin       : 0px 5px;
        border-radius: 4px;
        font-size    : 12px;
        line-height  : 16px;

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }

    &-switch {
        padding        : 0px 5px;
        margin         : 0px 5px;
        border-radius  : 4px;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        min-height     : 28px;
        cursor         : pointer;
        color          : rgb(55, 53, 47);

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }

        .shy-menu-box-item-switch-text {
            flex-shrink: 1;
            flex-grow  : 1;
            font-size  : 14px;
            margin-left: 3px;
        }

        .shy-switch {

            flex-shrink: 0;
            flex-grow  : 0;
        }
    }

    &-drag {
        position       : relative;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        user-select    : none;
        min-height     : 28px;
        line-height    : 28px;
        font-size      : 14px;
        color          : rgba(55, 53, 47);
        padding        : 0px 5px;
        margin         : 0px 5px;
        border-radius  : 4px;
        cursor         : pointer;

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }

        .drag {
            flex-grow      : 0;
            flex-shrink    : 0;
            width          : 20px;
            height         : 20px;
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            cursor         : grab;
            border-radius  : 4px;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }

        &-text {
            display     : inline-flex;
            margin-right: 14px;
            flex-grow   : 1.0;
        }

        &-label-icon {
            flex-grow      : 0;
            flex-shrink    : 0;
            width          : 20px;
            height         : 20px;
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            border-radius  : 4px;
        }

        .btn {
            margin-left    : 5px;
            flex-grow      : 0;
            flex-shrink    : 0;
            width          : 20px;
            height         : 20px;
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            border-radius  : 4px;

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }

    &-select {
        position       : relative;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        user-select    : none;
        min-height     : 28px;
        line-height    : 28px;
        font-size      : 14px;
        color          : rgba(55, 53, 47);
        padding        : 0px 5px;
        margin         : 0px 5px;
        border-radius  : 4px;
        cursor         : pointer;

        .shy-icon {
            img {
                width: 17px
            }
        }

        .shy-menu-box-item-option-text {
            display     : inline-flex;
            margin-right: 14px;
            flex-grow   : 1.0;
            margin-left : 3px;
        }

        .shy-menu-box-item-select-value {
            flex-grow      : 0;
            display        : inline-flex;
            justify-content: center;
            align-items    : center;

            em {
                font-style: normal;
                display   : inline-block;

            }
        }

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }

        &.disabled {
            cursor: default;

            .shy-icon {
                color: rgba(55, 53, 47, 0.6);
            }

            .shy-menu-box-item-option-text {
                color: rgba(55, 53, 47, 0.6);
            }

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.shy-menu-view {}