.sy-data-grid-calendar {


    &-cells {
        margin-top: 10px;

        &-head {
            display        : flex;
            justify-content: flex-start;
            align-items    : flex-start;
            flex-wrap      : nowrap;
            height         : 20px;
            line-height    : 20px;

            >* {
                width     : calc(100% / 7);
                color     : rgba(55, 53, 47, 0.4);
                text-align: center;
            }
        }

        &-days {
            flex-wrap  : wrap;
            border-left: 1px solid rgb(233, 233, 231);
            border-top : 1px solid rgb(233, 233, 231);

            .sy-data-grid-calendar-cell {
                box-sizing   : border-box;
                border-right : 1px solid rgb(233, 233, 231);
                border-bottom: 1px solid rgb(233, 233, 231);
                cursor       : default;
                background   : white;
                height   : 124px;
                width        : calc(100%/7);

                &-head {
                    height: 30px;

                    label {
                        float          : left;
                        font-size      : 14px;
                        margin-top     : 4px;
                        margin-left    : 10px;
                        height         : 24px;
                        line-height    : 24px;
                        text-align     : right;
                        transition     : color 100ms ease-out 0s;
                        // color       : rgba(55, 53, 47, 0.4);

                        &.now {
                            width           : 24px;
                            height          : 24px;
                            text-align      : center;
                            background-color: var(--text-p-color);
                            color           : #fff;
                            border-radius   : 50%;
                        }
                    }
                }

                &:hover {
                    .sy-data-grid-calendar-cell-head {
                        .shy-icon {
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
}

.sy-data-grid-calendar-items {
    >* {
        color        : rgba(55, 53, 47);
        height       : 24px;
        line-height  : 24px;
        cursor       : pointer;
        padding      : 0px 5px;
        box-shadow   : rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
        border-radius: 3px;
        background   : white;

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }
}