.sy-block-pen {
    stroke      : #000;
    stroke-width: 1px;
    svg {
        width:100%;
        height:100%;
        fill        : none;
        stroke      : inherit;
        stroke-width: inherit;
    }
}