.sy-data-grid-gallery {
    &-row {
        display        : flex;
        justify-content: flex-start;
        align-items    : stretch;
        flex-wrap      : nowrap;
        margin-bottom  : 20px;

        .sy-data-grid-gallery-cell {
            &:first-child {}

            .sy-data-grid-item {
                margin: 0px;
                height: calc(100% - 20px);
            }
        }
    }

    &-column {}

    .sy-data-grid-gallery-list {
        &-cols {
            display        : flex;
            justify-content: flex-start;
            align-items    : flex-start;

            .sy-data-grid-gallery-cell {
                margin-bottom: 20px;

                .sy-data-grid-item {
                    margin: 0px;

                }
            }
        }
    }
}