.shy-kit-picker {
    &-svg {
        pointer-events: none;
        position      : fixed;
        top           : 0px;
        left          : 0px;
        right         : 0px;
        bottom        : 0px;
        width         : 100vw;
        height        : 100vh;
        path {
            fill        : #e16259;
            stroke      : transparent;
            stroke-width: 0;
            fill-opacity: 0.8;
        }
        circle {
            fill          : #fff;
            stroke        : rgb(0, 0, 0);
            stroke-width  : 4;
            stroke-opacity: 0.08;
            pointer-events: visible;
        }
    }
}