.sy-block-shape {
    >svg{
        fill            : inherit !important;
        fill-opacity    : inherit;
        stroke-dasharray: inherit;
        stroke-width    : inherit;
        stroke-opacity  : inherit;
        stroke-linecap: round;
    }
}