.shy-search-box {
    width     : 86vw;
    max-width : 680px;
    max-height: 600px;
    min-width : 350px;
    min-height: 54px;
    box-shadow: rgba(15, 15, 15, .05) 0 0 0 1px, rgba(15, 15, 15, .1) 0 3px 6px, rgba(15, 15, 15, .2) 0 9px 24px;

    &-head {
        &-input {}

        &-operators {
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
        }
    }

    &-content {
        .shy-search-box-item {
            &:hover {}

            &.hover {}
        }
    }
}