.sy-block-table {
    display: block;

    &-box {
        position      : relative;
        overflow      : auto;
        padding-right : 20px;
        padding-bottom: 20px;
    }

    &-subline {
        display    : none;
        position   : absolute;
        z-index    : 1;
        top        : 0px;
        left       : 0px;
        width      : 10px;
        margin-left: -5px;
        cursor     : col-resize;

        &::after {
            cursor       : col-resize;
            content      : '\20';
            position     : absolute;
            top          : 0px;
            left         : 3px;
            right        : 3px;
            bottom       : 0px;
            border-radius: 1px;
            background   : rgb(116, 182, 219);
        }
    }

    table {
        border-collapse: collapse;
        font-size      : inherit;
        border-color   : transparent;
        border-spacing : 0px;
        text-indent    : 0px;

        >tbody {
            >tr {
                >td {
                    padding: 10px;
                    border : 1px solid #ddd;
                }
            }
        }
    }
}