.shy-tablestore-option-selector {
    max-width     : calc(100vw - 24px);
    width         : 250px;
    min-height    : 34px;
    padding-bottom: 10px;

    border-top-left-radius : 3px;
    border-top-right-radius: 3px;
    font-size              : 14px;
    cursor                 : text;
    overflow               : auto;

    &-input {
        background     : rgba(242, 241, 238, 0.6);
        padding        : 6px 10px;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        flex-wrap      : wrap;
        box-shadow     : rgba(55, 53, 47, 0.16) 0px -1px inset;

        a {
            height         : 18px;
            border-radius  : 3px;
            padding        : 0px 3px;
            font-size      : 14px;
            line-height    : 120%;
            color          : rgb(73, 41, 14);
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
        }

        input {
            font-size  : inherit;
            line-height: inherit;
            border     : none;
            background : none;
            min-width  : 60px;
            display    : block;
            resize     : none;
            padding    : 0px;
            height     : 18px;
            outline    : none;

            &::placeholder {
                font-size: 12px !important;
            }
        }
    }

    &-drop {
        background-color: #fff;
    }

    .shy-tablestore-option-item-create {
        line-height    : 120%;
        width          : 100%;
        user-select    : none;
        min-height     : 28px;
        font-size      : 14px;
        color          : rgb(55, 53, 47);
        padding        : 0px 10px;
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        cursor         : pointer;

        em {
            font-style : normal;
            line-height: 120%;
        }

        span {
            height       : 18px;
            line-height  : 18px;
            border-radius: 3px;
            padding-left : 6px;
            padding-right: 6px;
            font-size    : 14px;
            color        : rgb(73, 41, 14);
        }

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }
}

.shy-tablestore-option-item {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    line-height    : 120%;
    user-select    : none;
    min-height     : 28px;
    font-size      : 14px;
    padding        : 0px 5px;
    cursor         : pointer;
    border-radius  : 4px;
    margin         : 0px 5px;
    padding-left   : 8px;

    &-icon {
        display        : flex;
        align-items    : center;
        justify-content: center;
        width          : 18px;
        height         : 24px;
        flex-shrink    : 0;
        cursor         : -webkit-grab;
        margin-left    : -4px;

        svg {
            width              : 12px;
            height             : 12px;
            display            : block;
            fill               : rgba(55, 53, 47, 0.4);
            flex-shrink        : 0;
            backface-visibility: hidden;
        }
    }

    &-text {
        margin-left : 4px;
        margin-right: 6px;
        min-width   : 0px;
        flex        : 1 1 auto;

        em {
            font-style   : normal;
            display      : inline-flex;
            align-items  : center;
            flex-shrink  : 1;
            min-width    : 0px;
            height       : 18px;
            border-radius: 3px;
            padding-left : 6px;
            padding-right: 6px;
            font-size    : 14px;
            line-height  : 120%;
            color        : rgb(73, 41, 14);
        }
    }

    &-property {
        display        : inline-flex;
        justify-content: center;
        align-items    : center;
        flex-shrink    : 0;
        visibility     : hidden;
        cursor         : pointer;
        width          : 24px;
        height         : 24px;
        border-radius  : 4px;

        svg {
            width      : 14px;
            height     : 14px;
            display    : block;
            fill       : rgba(55, 53, 47, 0.4);
            flex-shrink: 0;
        }

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }

    &:hover {
        background-color: rgba(55, 53, 47, 0.08);

        .shy-tablestore-option-item-property {
            visibility: visible;
        }
    }
}

.shy-tablestore-option-selector-property {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    color          : rgba(55, 53, 47);
    padding        : 0px 10px;
    border-radius  : 4px;
    height         : 24px;
    line-height    : 24px;
    cursor         : pointer;

    span {
        &:first-child {
            flex-shrink  : 0;
            flex-grow    : 0;
            width        : 18px;
            height       : 18px;
            border-radius: 4px;
            display      : inline-block;
            margin-right : 5px;
            border       : 1px solid rgba(55, 53, 47, 0.1);
        }

        &:nth-child(2) {
            flex-shrink: 1;
            flex-grow  : 1;
        }
    }

    .shy-icon {
        flex-shrink: 0;
        flex-grow  : 0;
        fill       : rgb(55, 53, 47, .8)
    }

    &:hover {
        background-color: rgba(55, 53, 47, 0.08);
    }
}