.shy-upload {
    padding: 14px;
    &-remark {
        color    : rgba(143, 135, 111, 0.6);
        font-size: 12px;
    }
    .shy-button {
        margin: 14px 0px;
    }
    &-error {
        color      : #e16259;
        font-size  : 14px;
        font-weight: bold;
    }
}


.shy-video-picker,
.shy-audio-picker,
.shy-file-picker {
    width: 380px;
}