.shy-board-edit-tool {
    position       : fixed;
    color          : rgb(55, 53, 47);
    box-sizing     : border-box;
    border-radius  : 3px;
    background     : white;
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    user-select    : none;
    padding        : 5px;
    border-radius  : 4px;
    padding        : 0px;
    padding-right  : 5px;
    box-shadow     : var(--shadow);

    &-item {
        margin-top     : 5px;
        margin-bottom  : 5px;
        padding        : 5px;
        cursor         : pointer;
        display        : inline-flex;
        justify-content: flex-start;
        align-items    : center;
        border-radius  : 4px;
        &.hover {
            color: rgb(46, 170, 220);
        }
    }

    &-devide {
        background-color: rgba(18, 17, 42, 0.07);
        width           : 1px;
        margin-left     : 5px;
        margin-right    : 5px;
        margin-top      : 10px;
        margin-bottom   : 10px;
    }

    >* {
        flex-grow  : 0;
        flex-shrink: 0;
    }
}

.shy-board-edit-background-color,
.shy-board-edit-font-color {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        a {

            border    : 1px solid rgba(0, 0, 0, 0.1);
            box-sizing: border-box;
        }

        .bottom-border {
            margin-top: 2px;
            width     : 18px;
            height    : 4px;
            display   : block;
            box-sizing: border-box;
            border    : 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &-drops {
        left           : 50%;
        transform      : translate(-50%, 0px);
        position       : absolute;
        border-radius  : 3px;
        background     : white;
        z-index        : 2;
        box-shadow     : var(--shadow-s);
        top            : 35px;
        overflow-y     : auto;
        overflow-x     : hidden;
        min-height     : 100px;
        flex-wrap      : wrap;
        padding        : 10px;
    }
}

.shy-shape-stroke {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        position: relative;

        &::after {
            border-radius   : 50%;
            content         : '\20';
            position        : absolute;
            z-index         : 1;
            top             : 50%;
            left            : 50%;
            width           : 6px;
            height          : 6px;
            background-color: #fff;
            transform       : translate(-50%, -50%);
        }
    }

    &-drops {
        box-sizing   : border-box;
        position     : absolute;
        left         : 50%;
        transform    : translate(-50%, 0px);
        border-radius: 3px;
        background   : white;
        z-index      : 2;
        box-shadow   : var(--shadow-s);
        top          : 35px;
        width        : 180px;
        box-sizing   : border-box;
    }
}

.shy-shape-fill {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        width : 20px;
        height: 20px;

        a {
            display      : inline-block;
            width        : 16px;
            height       : 16px;
            border-radius: 50%;
            box-sizing   : border-box;
            border       : 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;
        box-shadow   : var(--shadow-s);
        top          : 35px;
        width        : 180px;
        box-sizing   : border-box;
    }
}

.shy-line-arrow {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        span {
            display: inline-block;
            width  : 20px;
            height : 20px;

            &:first-child {
                margin-right: 10px;
            }

            &:last-child {}
        }
    }

    &-left-drops,
    &-right-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;

        box-shadow: var(--shadow-s);
        top       : 35px;
        width     : 50px;

        a {
            display           : flex;
            justify-content   : center;
            align-items       : center;
            // transform      : scale(-1, 1);
            color             : rgb(55, 53, 47);

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }

            svg {
                width : 30px;
                height: 30px;
            }
        }
    }

    &-right-drops {
        a {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.shy-line-types {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        display: inline-block;
        width  : 20px;
        height : 20px;
    }

    &-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;
        box-shadow   : var(--shadow-s);
        top          : 35px;
        padding      : 10px 5px;
        box-sizing   : border-box;

        .shy-line-types-opacity {
            margin: 0px 10px;
        }

        .shy-line-types-all,
        .shy-line-types-stash {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            margin         : 10px;

            a {
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                width          : 30px;
                height         : 30px;
                border-radius  : 4px;
                cursor         : pointer;

                svg {
                    width : 24px;
                    height: 24px;
                }

                &:hover,
                &.hover {
                    background-color: rgba(55, 53, 47, 0.08);
                }

            }
        }
    }
}

.shy-board-trun-shapes {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        width  : 20px;
        height : 20px;
        span {
            >svg {
                width : 16px;
                height: 16px;
            }
        }
    }
    &-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;
        box-shadow   : var(--shadow-s);
        top          : 35px;
        width        : 180px;
        padding      : 10px;
        box-sizing   : border-box;

        >span {
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            width          : 30px;
            height         : 30px;
            border-radius  : 4px;
            margin         : 5px;
            border-radius  : 4px;

            svg {
                width : 24px;
                height: 24px;
            }

            &.selected,
            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }
}