.shy-board-edit-tool {
    position          : fixed;
    color             : rgb(55, 53, 47);
    box-sizing        : border-box;
    border-radius     : 3px;
    background        : white;
    z-index           : 10000;
    display           : flex;
    justify-content   : flex-start;
    align-items       : stretch;
    user-select       : none;
    padding           : 5px;
    border-radius     : 4px;
    padding: 0px;
    padding-right: 5px;

    &-item {
        margin-top:5px;
        margin-bottom: 5px;
        padding        : 5px;
        cursor         : pointer;
        display        : inline-flex;
        justify-content: flex-start;
        align-items    : center;
        border-radius  : 4px;

        span {
            font-size : 14px;
            font-style: normal;
        }

        span+.shy-icon {
            display    : inline-flex;
            margin-left: 5px;
            color      : rgba(55, 53, 47, 0.3);
        }

        &.hover {
            color: rgb(46, 170, 220);
        }
    }

    &-icon {
        padding        : 5px 0px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        cursor         : pointer;
    }

    &-devide {
        background-color: #eee;
        width           : 1px;
        margin-left     : 5px;
        margin-right    : 5px;
    }

    >* {
        flex-grow  : 0;
        flex-shrink: 0;
    }
}

.shy-board-edit-background-color,
.shy-board-edit-font-color {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        flex-direction : column;

        a {
            display      : inline-block;
            width        : 18px;
            height       : 18px;
            border-radius: 50%;
            border       : 1px solid rgba(0, 0, 0, 0.1);
            box-sizing   : border-box;
        }

        .bottom-border {
            margin-top: 2px;
            width     : 18px;
            height    : 4px;
            display   : block;
            box-sizing: border-box;
            border    : 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &-drops {
        left              : 50%;
        transform         : translate(-50%, 0px);
        // margin-left    : -75px;
        position          : absolute;
        border-radius     : 3px;
        background        : white;
        z-index           : 2;
        box-shadow        : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        top               : 28px;
        overflow-y        : auto;
        overflow-x        : hidden;
        // width          : 160px;
        min-height        : 100px;
        display           : flex;
        justify-content   : flex-start;
        align-items       : flex-start;
        flex-wrap         : wrap;
        padding           : 10px;

        a {
            display      : inline-block;
            box-sizing   : border-box;
            width        : 30px;
            height       : 30px;
            margin       : 5px;
            border-radius: 15px;
            transition   : opacity 0.2s;
            border       : 1px solid rgba(0, 0, 0, 0.1);
            position     : relative;

            &.selected {
                box-shadow: 0 0 0 2px #fff, 0 0 0 4px blue;
            }
        }
    }
}

.shy-shape-stroke {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        // display : inline-block;
        position: relative;
        // width   : 18px;
        // height  : 18px;

        a,
        >svg {
            border-radius: 50%;
            display      : inline-block;
            width        : 18px;
            height       : 18px;
        }

        &::after {
            border-radius   : 50%;
            content         : '\20';
            position        : absolute;
            z-index         : 1;
            top             : 50%;
            left            : 50%;
            width           : 12px;
            height          : 12px;
            background-color: #fff;
            transform       : translate(-50%, -50%);
        }
    }

    &-drops {
        box-sizing   : border-box;
        position     : absolute;
        left         : 50%;
        transform    : translate(-50%, 0px);
        border-radius: 3px;
        background   : white;
        z-index      : 2;
        box-shadow   : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        top          : 28px;
        width        : 180px;
        // padding      : 10px;
        box-sizing   : border-box;

        // .shy-shape-stroke-opacity,
        // .shy-shape-stroke-width {
        //     margin: 0px 5px;
        // }

        // .shy-shape-stroke-types {
        //     display        : flex;
        //     justify-content: center;
        //     align-items    : flex-start;

        //     a {
        //         cursor   : pointer;
        //         flex-grow: 1;
        //         height   : 30px;

        //         svg {
        //             width : 30px;
        //             height: 30px;
        //         }
        //     }
        // }

        .shy-shape-stroke-colors {
            // margin-top     : 10px;
            // width          : 100%;
            // display        : flex;
            // justify-content: center;
            // align-items    : flex-start;
            // flex-wrap      : wrap;

            a {
                display      : inline-block;
                box-sizing   : border-box;
                width        : 30px;
                height       : 30px;
                margin       : 5px;
                border-radius: 50%;
                transition   : opacity 0.2s;
                border       : 1px solid rgba(0, 0, 0, 0.1);

                &.selected {
                    box-shadow: 0 0 0 2px #fff, 0 0 0 4px blue;
                }
            }
        }

        .shy-measure-view-label {
            text-align: left;
            font-size : 12px;

            >label {}

            span {
                font-size: 12px;
                float    : right;
            }
        }
    }
}

.shy-shape-fill {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        display        : inline-block;
        justify-content: center;
        align-items    : center;
        width          : 20px;
        height         : 20px;
        a {
            display      : inline-block;
            width        : 16px;
            height       : 16px;
            border-radius: 50%;
            border       : 1px solid rgba(0, 0, 0, 0.1);
        }
    }

    &-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;
        box-shadow   : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        top          : 28px;
        width        : 180px;
        // padding      : 10px;
        box-sizing   : border-box;

        // .shy-shape-fill-opacity {
        //     margin: 0px 5px;
        // }

        .shy-shape-fill-colors {
            display        : flex;
            justify-content: center;
            align-items    : flex-start;
            flex-wrap      : wrap;
            width          : 100%;

            a {
                display      : inline-block;
                box-sizing   : border-box;
                width        : 30px;
                height       : 30px;
                margin       : 5px;
                border-radius: 15px;
                transition   : opacity 0.2s;
                border       : 1px solid rgba(0, 0, 0, 0.1);

                &.selected {
                    box-shadow: 0 0 0 2px #fff, 0 0 0 4px blue;
                }
            }
        }
    }
}

.shy-line-arrow {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        span {
            display: inline-block;
            width  : 20px;
            height : 20px;

            &:first-child {
                margin-right: 10px;
            }

            &:last-child {}
        }
    }

    &-left-drops,
    &-right-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;
        box-shadow   : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        top          : 28px;
        width        : 50px;

        a {
            display           : flex;
            justify-content   : center;
            align-items       : center;
            // transform      : scale(-1, 1);
            color             : rgb(55, 53, 47);

            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }

            svg {
                width : 30px;
                height: 30px;
            }
        }
    }

    &-right-drops {
        a {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.shy-line-types {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        display: inline-block;
        width  : 20px;
        height : 20px;
    }

    &-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;
        box-shadow   : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        top          : 28px;
        width        : 150px;
        padding      : 10px 5px;
        box-sizing   : border-box;

        .shy-line-types-opacity {
            margin: 0px 10px;
        }

        .shy-line-types-all,
        .shy-line-types-stash {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            margin         : 10px;

            a {
                display        : inline-flex;
                justify-content: center;
                align-items    : center;
                width          : 30px;
                height         : 30px;
                border-radius  : 4px;
                cursor         : pointer;

                svg {
                    width : 24px;
                    height: 24px;
                }

                &:hover,
                &.hover {
                    background-color: rgba(55, 53, 47, 0.08);
                }

            }
        }
    }
}

.shy-board-trun-shapes {
    position: relative;
    width   : 20px;
    height  : 20px;

    &-current {
        display: inline-block;
        width  : 20px;
        height : 20px;

        span {
            >svg {
                width : 20px;
                height: 20px;
            }
        }
    }

    &-drops {
        left         : 50%;
        transform    : translate(-50%, 0px);
        position     : absolute;
        border-radius: 4px;
        background   : white;
        z-index      : 2;
        box-shadow   : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
        top          : 28px;
        width        : 180px;
        padding      : 10px;
        box-sizing   : border-box;

        >span {
            display        : inline-flex;
            justify-content: center;
            align-items    : center;
            width          : 30px;
            height         : 30px;
            border-radius  : 4px;
            margin         : 5px;
            border-radius  : 4px;

            svg {
                width : 24px;
                height: 24px;
            }

            &.selected,
            &:hover {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }
}