.shy-appear-text {
    position   : relative;
    display    : inline;
    white-space: pre-wrap;
    word-break : break-all;
    font-size  : inherit;
    font-weight: inherit;
    font-style : inherit;
    outline    : none;
    user-select: text;

    * {
        font-size  : inherit;
        font-style : inherit;
        font-weight: inherit;
    }

    &:empty {
        display                : inline-block;
        padding-right          : 10px;
        caret-color            : rgb(55, 53, 47);
        padding-right          : 10px;
        -webkit-text-fill-color: rgba(55, 53, 47, 0.4);
        text-decoration        : none !important;
        text-decoration-color  : transparent !important;
        font-size              : 14px;


        &::after {
            content              : '\20';
            text-decoration      : none !important;
            text-decoration-color: transparent !important;
        }
    }

    &.shy-text-focus,
    &.shy-text-empy-visible {
        &:empty {
            display                : inline-block;
            padding-right          : 10px;
            caret-color            : rgb(55, 53, 47);
            padding-right          : 10px;
            -webkit-text-fill-color: rgba(55, 53, 47, 0.4);
            font-size              : 14px;
            text-decoration        : none !important;
            text-decoration-color  : transparent !important;

            &::after {
                text-decoration      : none !important;
                text-decoration-color: transparent !important;
                content              : attr(placeholder);
            }
        }
    }

    &.shy-text-empy-visible {
        &:empty {
            font-size: inherit !important;
        }
    }

    &.shy-text-empty-font-inherit {
        &:empty {
            font-size: inherit;
        }
    }

    &.shy-appear-text-user-selected {
        background-color: var(--user-selected-color);
        outline         : 1px dashed var(--user-selected-color);
        outline-offset  : 2px;
    }
}

.shy-appear-texts {
    display              : inline;
    // display           : block;
    white-space          : pre-wrap;
    word-break           : break-all;
    font-size            : inherit;
    font-weight          : inherit;
    font-style           : inherit;
    // text-decoration: inherit;
}

.shy-appear-solid {
    &-cursor {
        outline              : none;
        user-select          : text;
        display              : inline-block;
        display              : inline;
        text-decoration      : none !important;
        text-decoration-color: transparent !important;

        &::after {
            content              : '\20';
            text-decoration      : none !important;
            text-decoration-color: transparent !important;
        }
    }

    &-content {
        user-select: text;

        >.shy-icon-inner-svg {
            position     : relative;
            padding-left : 8px;
            padding-right: 8px;
            display      : inline !important;
            svg {
                position : absolute;
                top      : 50%;
                left     : 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}