.sy-block-row {
    display        : flex;
    justify-content: flex-start;
    align-items    : flex-start;

    &-gap {
        width           : 46px;
        background-color: transparent;
        align-self      : stretch;
        transition      : opacity 200ms ease-out 0s;
        opacity         : 0;
        position        : relative;
        z-index         : 100;
        display         : inline-flex;
        justify-content : center;
        align-items     : stretch;
        flex-grow       : 0;
        flex-shrink     : 0;

        &::after {
            height       : 100%;
            width        : 4px;
            content      : ' ';
            // content   : '';
            background   : rgba(61, 57, 44, 0.16);
            cursor       : col-resize;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.sy-block-text-content {
    display: inline !important;

    &-code {
        line-height        : normal;
        background         : rgba(135, 131, 120, 0.15);
        color              : #EB5757;
        border-radius      : 3px;
        font-size          : 85%;
        border             : 3px solid transparent;
        border-top-width   : 0.2em;
        border-bottom-width: 0.2em;
        border-left-width  : 0.4em;
        border-right-width : 0.4em;
        display            : inline;
    }

    a {
        text-decoration: underline;
        color          : inherit;
    }
}

.sy-block-frame {
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}