.shy-popover-mask {
    position: absolute;
    top     : 0px;
    left    : 0px;
    width   : 100vw;
    height  : 100vh;
    z-index : 1;
    &.shy-popover-mask-shadow {
        background-color: rgba(15, 15, 15, 0.6);
    }
}

.shy-popover-box {
    position: fixed;
    top     : 0px;
    left    : 0px;
    width   : 100vw;
    height  : 100vh;
}

.shy-popover {
    z-index          : 2;
    position         : absolute;
    min-width        : 100px;
    min-height       : 20px;
    pointer-events   : visible;
    position         : absolute;
    border-radius    : 3px;
    background       : white;
    box-shadow       : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}