.shy-tooltip {
    position: absolute;
    z-index: 100000;

    &-arrow {
        position: absolute;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 22px;
            height: 22px;
            overflow: hidden;

            em {
                box-shadow: 3px -3px 7px #00000012;
                transform: translate(-11px) rotate(315deg);
                inset: 0;
                display: block;
                width: 11.3137085px;
                height: 11.3137085px;
                margin: auto;
                background-color: transparent;
                content: "";
                border-radius: 0 0 2px;
                pointer-events: none;

                &::after {
                    position: absolute;
                    top: -11.3137085px;
                    left: -11.3137085px;
                    width: 33.9411255px;
                    height: 33.9411255px;
                    background: linear-gradient(to right bottom, rgba(0, 0, 0, .65), rgba(0, 0, 0, .75));
                    background-repeat: no-repeat;
                    background-position: -10px -10px;
                    content: "";
                }
            }
        }

        &.top {
            bottom: 0px;
            left: 0px;
            right: 0px;
        }

        &.bottom {
            top: 0px;
            left: 0px;
            right: 0px;
        }

        &.right {
            left: 0px;
            top: 0px;
            bottom: 0px;
        }

        &.left {
            right: 0px;
            top: 0px;
            bottom: 0px;
        }
    }

    &-overlay {
        min-width: 30px;
        min-height: 32px;
        padding: 6px 8px;
        color: #fff;
        text-align: left;
        text-decoration: none;
        word-wrap: break-word;
        background-color: #000000bf;
        border-radius: 2px;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    }
}