.sy-channel-text {
    position       : relative;
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    flex-direction : column;

    &-head {}

    &-content {
        flex-grow      : 1;
        flex-shrink    : 1;
        padding        : 0px 20px;
        overflow-y     : auto;
        overflow-x     : hidden;
        padding-bottom : 30px;
        margin-bottom  : 40px;
        scroll-behavior: smooth;
    }

    &-input {
        z-index         : 2;
        position        : absolute;
        bottom          : 10px;
        left            : 0px;
        right           : 0px;
        margin          : 10px 20px;
        background-color: var(--channeltextarea-background);
        max-height      : 50vh;
        border-radius   : 8px;
        padding         : 10px;
    }

    .sy-channel-text-item {
        margin-bottom: 20px;
    }
}

.sy-channel-text-item-tip-date {
    text-align: center;
}

.shy-user-channel-chat-image {
    img {
        max-width      : 400px;
        max-height     : 500px;
        object-fit     : cover;
        object-position: center;
    }
}