.sy-channel-text {
    position       : relative;
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    flex-direction : column;

    &-head {}

    .sy-channel-text-page {
        .h2 {
            .shy-icon {
                visibility: hidden;
            }
        }

        &:hover {
            .h2 {
                .shy-icon {
                    visibility: visible;
                }
            }
        }
    }

    &-unread-tip {
        position        : absolute;
        top             : 0px;
        left            : 20px;
        right           : 20px;
        z-index         : 1000;
        border-radius   : 0px 0px 8px 8px;
        background-color: #e16259;
        text-align      : center;
        box-shadow      : var(--elevation-low);
        display         : flex;
        justify-content : flex-start;
        align-items     : center;
        color           : #fff;
        font-weight     : 500;
        padding         : 0 12px;
        font-size       : 14px;
        line-height     : 24px;
        height          : 24px;

        span {
            flex-grow      : 1;
            flex-shrink    : 1;
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
        }

        a {
            color          : #fff;
            flex-grow      : 0;
            flex-shrink    : 0;
            width          : 180px;
            display        : flex;
            justify-content: flex-end;
            align-items    : center;
            cursor         : pointer;

            .shy-icon {
                display    : inline-block;
                margin-left: 5px;
            }
        }
    }

    .sy-channel-text-tip,
    .sy-channel-text-loading {
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 10px 0px;
    }

    &-content {
        flex-grow         : 1;
        flex-shrink       : 1;
        user-select       : text;
    }

    &-input {
        z-index         : 2;
        position        : absolute;
        bottom          : 0px;
        left            : 0px;
        right           : 0px;
        background-color: #fff;
        &-wrapper {
            margin          : 10px 20px;
            margin-bottom   : 60px;
            background-color: var(--channeltextarea-background);
            max-height      : 50vh;
            border-radius   : 8px;
            padding         : 10px;
        }
    }
}

.sy-channel-text-item-tip-date {
    text-align: center;
    position  : relative;
    height    : 24px;
    margin    : 10px 20px 0px 20px;

    .line {
        position        : absolute;
        top             : 50%;
        left            : 0px;
        right           : 0px;
        transform       : translate(0%, -50%);
        height          : 1px;
        background-color: var(--background-modifier-accent);
    }

    .text {
        padding    : 2px 4px;
        color      : var(--text-muted);
        background : var(--background-primary);
        line-height: 13px;
        font-size  : 12px;
        position   : absolute;
        top        : 50%;
        left       : 50%;
        transform  : translate(-50%, -50%);
        padding    : 0px 10px;
        line-height: 24px;
        height     : 24px;
    }
}

.shy-user-channel-chat-image {
    img {
        border-radius  : 4px;
        max-width      : 400px;
        max-height     : 500px;
        object-fit     : cover;
        object-position: center;
    }
}

.shy-user-channel-chat-video {
    video {
        border-radius  : 4px;
        max-width      : 400px;
        max-height     : 500px;
        object-fit     : cover;
        object-position: center;
    }
}

.shy-user-channel-chat-file {
    &-content {
        margin          : 5px 0px;
        padding         : 10px;
        border-radius   : 4px;
        border-color    : var(--background-secondary-alt);
        background-color: var(--background-secondary);
        display         : inline-flex;
        justify-content : flex-start;
        align-items     : flex-start;

        >.shy-icon {
            color: var(--text-link);
            fill : currentColor;
        }

        &-info {
            color: var(--text-link);
        }

        >a {
            cursor         : pointer;
            width          : 24px;
            height         : 24px;
            display        : inline-block;
            justify-content: center;
            align-items    : center;
            border-radius  : 4px;

            &:hover {
                background-color: rgba(55, 53, 47, .08);
            }
        }
    }

}