.sy-channel-text {
    position       : relative;
    display        : flex;
    justify-content: flex-start;
    align-items    : stretch;
    flex-direction : column;

    &-head {}

    &-content {
        flex-grow      : 1;
        flex-shrink    : 1;
        overflow-y     : auto;
        overflow-x     : hidden;
        padding-bottom : 30px;
        margin-bottom  : 40px;
        scroll-behavior: smooth;
    }

    &-input {
        z-index         : 2;
        position        : absolute;
        bottom          : 10px;
        left            : 0px;
        right           : 0px;
        margin          : 10px 20px;
        background-color: var(--channeltextarea-background);
        max-height      : 50vh;
        border-radius   : 8px;
        padding         : 10px;
    }

    .sy-channel-text-item {
        margin-bottom : 20px;
        padding-top   : 2px;
        padding-bottom: 2px;
        padding-left  : 20px;
        padding-right : 48px;

        &:hover {
            background-color: var(--background-message-hover);
        }
    }
}

.sy-channel-text-item-tip-date {
    text-align: center;
    position  : relative;
    height    : 24px;
    margin    : 10px 20px;

    .line {
        position        : absolute;
        top             : 50%;
        left            : 0px;
        right           : 0px;
        transform       : translate(0%, -50%);
        height          : 1px;
        background-color: var(--background-modifier-accent);
    }

    .text {
        padding    : 2px 4px;
        color      : var(--text-muted);
        background : var(--background-primary);
        line-height: 13px;
        font-size  : 12px;
        position   : absolute;
        top        : 50%;
        left       : 50%;
        transform  : translate(-50%, -50%);
        padding    : 0px 10px;
        line-height: 24px;
        height     : 24px;
    }
}

.shy-user-channel-chat-image {
    img {
        max-width      : 400px;
        max-height     : 500px;
        object-fit     : cover;
        object-position: center;
    }
}