.sy-block-line {
    pointer-events: none;
    stroke: #000; 
    stroke-width  : 2;
    svg {
        path {
            pointer-events: visible;
            fill:none;
        }
        path.visible {
            stroke        : inherit;
            stroke-width   : inherit;
            stroke-opacity: .8;
            fill:none;
        }
    }
}