.shy-image-picker {
    width : 500px;
    max-height: 400px;
}

.shy-third-gallery {
    padding:14px;
    &-origin {
        color     : rgba(55, 53, 47, 0.6);
        margin-top: 2px;
        font-size : 12px;

        a {
            color          : rgba(55, 53, 47, 0.6);
            text-decoration: none;
            cursor         : pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}