.sy-block-outline {
    border-left: 2px solid rgba(55, 53, 47, 0.08);
    a {
        margin-left  : 10px;
        display      : block;
        height       : 30px;
        line-height  : 30px;
        font-size    : 14px;
        cursor       : pointer;
        padding      : 0px 10px;
        border-radius: 4px;
        font-weight  : bold;
        color        : rgba(55, 53, 47, 1);

        &.hover {
            background-color: rgba(55, 53, 47, 0.08);
        }

        &:hover {
            background-color: rgba(55, 53, 47, 0.08);
        }
    }
}