.sy-block-text-span {
    display: block;
}

.sy-block-text-head {

    &-content {
        &-tip {
            position       : absolute;
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            height         : 10px;
            top            : -10px;
            left           : 0px;
            pointer-events : none;
            visibility     : hidden;

            em {
                display         : inline-block;
                width           : 3px;
                height          : 3px;
                border-radius   : 50%;
                margin-right    : 5px;
                background-color: rgba(55, 53, 47, 0.2);
            }
        }

        position: relative;
    }

    &:hover {
        .sy-block-text-head-content-tip {
            visibility: visible;
        }
    }
}

.sy-block-quote {
    margin-top   : 4 px;
    margin-bottom: 4 px;
    // position     : relative;

    &-bar {
        border-radius   : 2px;
        width           : 4px;
        background-color: #ddd;
        position        : absolute;
        top             : 0px;
        left            : 0px;
        bottom          : 0px;
    }

    &-content {
        padding-left : 14px;
        padding-right: 14px;
        min-height   : 30px;
    }
}

.sy-block-callout {
    width     : 100%;
    box-sizing: border-box;
    padding   : 16px 16px 16px 12px;
    background: rgba(235, 236, 237, 0.3);
    margin    : 2px 0px;
}

.sy-block-emoji {
    display: inline-block;
}