.sy-block-text-span {
    display: block;
}

.sy-block-text-head {}

.sy-block-image {
    display        : flex;
    justify-content: center;
    align-items    : center;

    &-content {
        img {
            width: 100%;
        }
    }
}



.sy-block-quote {
    margin-top   : 4 px;
    margin-bottom: 4 px;
    position     : relative;

    &-bar {
        width           : 4px;
        background-color: #ddd;
        position        : absolute;
        top             : 0px;
        left            : 0px;
        bottom          : 0px;
        border-radius   : 1px;
    }

    &-content {
        padding-left : 14px;
        padding-right: 14px;
        min-height   : 30px;
    }
}

.sy-block-callout {
    width          : 100%;
    box-sizing     : border-box;
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    padding        : 16px 16px 16px 12px;
    background     : rgba(235, 236, 237, 0.3);
    margin         : 2px 0px;

    &-icon {
        width      : 24px;
        height     : 24px;
        flex-shrink: 0;
    }

    &-content {
        flex-grow  : 1;
        margin-left: 8px;
    }
}