.shy-page-layout {
    min-height: '100%';
    &-wrapper {
        box-sizing      : border-box;
        background-color: #fff;
        border          : 1px solid rgb(224,224,224);
        margin          : 20px 0px;
        padding         : 30px;
        min-height      : calc(100% - 40px);
    }
}