.shy-block-selector {
    color              : rgb(55, 53, 47);
    box-sizing         : border-box;
    border-radius      : 3px;
    user-select        : none;
    box-shadow         : rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    box-shadow           : var(--shadow);
    overflow           : hidden;
    width              : 324px;
    min-width          : 180px;
    max-width          : calc(100vw - 24px);
    max-height         : 40vh;
    position           : fixed;
    z-index            : 100000;
    padding            : 5px 0px;
    overflow-y         : auto;
    overflow-x         : hidden;
    background-color   : #fff;
    overscroll-behavior: none;
    scroll-behavior    : smooth;

    &-no-data {
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 10px;
        color          : rgb(55, 53, 47);
        display        : block;
        font-size      : 14px;
    }

    &-group {
        &-head {
            padding: 0px 10px;

            span {
                color    : rgba(55, 53, 47, 0.6);
                font-size: 12px;
            }
        }

        &-blocks {}

        &-block {
            padding        : 10px;
            position       : relative;
            display        : flex;
            justify-content: flex-start;
            align-items    : center;
            cursor         : pointer;

            .shy-icon {
                color: rgb(55, 53, 47);
            }

            img {
                cursor       : pointer;
                user-select  : none;
                box-sizing   : border-box;
                border       : 0;
                display      : block;
                object-fit   : cover;
                border-radius: 3px;
                background   : white;
                width        : 46px;
                height       : 46px;
                flex-grow    : 0;
                flex-shrink  : 0;
                box-shadow   : rgba(15, 15, 15, 0.1) 0px 0px 0px 1px;
            }

            &-info {
                flex-grow   : 1;
                margin-left : 8px;
                margin-right: 14px;

                span {
                    color    : rgb(55, 53, 47);
                    display  : block;
                    font-size: 14px;
                }

                em {
                    font-size : 12px;
                    color     : rgba(55, 53, 47, 0.6);
                    font-style: normal;
                }
            }

            label {
                font-size : 12px;
                position  : absolute;
                top       : 10px;
                right     : 10px;
                color     : rgba(55, 53, 47, 0.6);
                font-style: normal;
            }

            &:hover {
                background-color: rgba(55, 53, 47, 0.05);
            }

            &.selected {
                background-color: rgba(55, 53, 47, 0.08);
            }
        }
    }
}